body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: aliceblue;
}

#container {
    background-color: rgb(111, 174, 230);
    padding: 10px;
    border-radius: 1rem;
    
}

#display {
    width: 600px;
    height: 200px;
}

.scores {
    display: flex;
    justify-content: space-between;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.operator-btn {
    width: 100px;
    height: 50px;
    border-radius: 50px;
}

#moves {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#resetGame {
    display: flex;
    justify-content: center;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}